# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox/*/
.nox/*/
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

# Landscapes
.landscapes/*/
docker/.volumes/.landscapes/*/
!docker/.volumes/.landscapes/.gitkeep

# Features
.features/*
!.features/.gitkeep

# Dagster
.env
.dagster/*
!.dagster/.gitkeep
!.dagster/dagster.yaml
.dagster-postgres/*
!.dagster-postgres/.gitkeep
tmp*/

# Harbor
!.harbor/

.harbor/data/*
!.harbor/data/.gitkeep

.harbor/bin/*
!.harbor/bin/.gitkeep

.harbor/download/*
!.harbor/download/.gitkeep

# Pi-hole
.pi-hole/*
!.pi-hole/.gitkeep

# Portainer
.portainer/*
!.portainer/.gitkeep
!.portainer/docker-compose.yml

# Payloads
.payload/bin/*
!.payload/bin/.gitkeep
.payload/data/*
!.payload/data/.gitkeep
!.payload/data/foundry.lic.example

# Obsidian
.obsidian/hotkeys.json
.obsidian/workspace.json
.obsidian/workspaces.json

# Media
/media/Blender/.out/*
!/media/Blender/.out/.gitkeep

# Docker
!docker/.volumes/

docker/.volumes/dagster/dagster-home/*
!docker/.volumes/dagster/dagster-home/dagster.yaml

docker/.volumes/postgres-dagster/*
!docker/.volumes/postgres-dagster/.gitkeep

# Teleport
.teleport/*
!.teleport/.gitkeep
src/OpenStudioLandscapes/engine/teleport/custom_services.py
src/OpenStudioLandscapes/engine/teleport/custom_services.yml
